* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
/* animacion logo hover */
@keyframes tilt-n-move-shaking {
    0% { transform: rotate(0); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

body{
    background-color: #181419;
    color:white; 

}
a{
    text-decoration: none;
}
header{
    height: 10vh;
    background-color: #9f3647;
    position: sticky;
    top: 0;
    z-index: 10;

}
.logo{
font-size: 20px;
font-weight: 700;
height: 26px;
color: rgb(255, 255, 255);
}
.logo:hover{
    animation: tilt-n-move-shaking 0.25s infinite;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
    padding: 24px 0;
}

.ulNav{
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-weight: 600;
}
.ulItem{
    font-size: 15px;
    margin-right: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 6px 10px;
                    &:hover {
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        border-radius: 5px;
                    }
}
.ulItem a{
    color: white;
}

.ulNav .ulItem:nth-child(3) {
    background-color: black;
    border-radius: 5px;
    &:hover{
        background-color: #9f3647;
    }
}


.banner{
    background: linear-gradient(to right top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(/img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.titulo{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.subtitulo{
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.botonRegistrarse{
    background-color: #9f3647;
    text-decoration: none;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    &:hover{
        transform: scale(0.9);
        transition: transform 0.3s, box-shadow 0.3s;
        box-shadow: 3px 4px 6px rgba(255, 255, 255, 0.5);
    }
}



@media (max-width: 768px) {
    header{height: 15git vh}
        .nav{
            flex-direction: column;
        }
        .logo{
                margin-bottom: 10px;
        }
}
@media (max-width: 460px) {
    .ulItem{
        margin: 0px;
    }

}
